/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}


html{
scroll-behavior:smooth;
}


body{

background:#ffffff;
color:#111;

}



/* HEADER */

.header{

height:70px;
display:flex;
align-items:center;
justify-content:space-between;

padding:0 8%;

border-bottom:1px solid #e5e5e5;

position:sticky;
top:0;

background:white;
z-index:10;

}


.logo{

font-size:24px;
font-weight:900;

}



nav{

display:flex;
gap:30px;

}


nav a{

text-decoration:none;
color:#111;
font-weight:600;

}



.menu{

display:none;
background:none;
border:0;
font-size:25px;

}




/* HERO */


.hero{

min-height:80vh;

display:flex;
align-items:center;

padding:80px 8%;

}



.hero-text{

max-width:800px;

}



.tag{

font-size:14px;
font-weight:bold;

margin-bottom:20px;

color:#555;

}



.hero h1{

font-size:70px;

line-height:1.1;

font-weight:900;

margin-bottom:25px;

}



.hero p{

font-size:20px;

color:#555;

line-height:1.6;

}



.buttons{

display:flex;

gap:20px;

margin-top:40px;

}



.btn{

padding:15px 30px;

border-radius:10px;

text-decoration:none;

font-weight:bold;

}



.black{

background:#111;

color:white;

}



.white{

border:1px solid #ddd;

color:#111;

}




/* SEÇÕES */


.section{

padding:80px 8%;

}



.section h2{

font-size:45px;

margin-bottom:40px;

}





/* CARDS SERVIÇOS */


.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}



.card{

border:1px solid #e5e5e5;

padding:30px;

border-radius:20px;

transition:.3s;

}



.card:hover{

transform:translateY(-8px);

box-shadow:0 10px 30px #ddd;

}



.card h3{

margin-bottom:15px;

font-size:25px;

}



.card p{

color:#666;

line-height:1.5;

}





/* PROJETOS */


.projects{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}



.project{

border:1px solid #ddd;

border-radius:20px;

overflow:hidden;

background:white;

}



.project img{

width:100%;

height:220px;

object-fit:cover;

}



.project-info{

padding:25px;

}



.project-info h3{

font-size:24px;

margin-bottom:10px;

}



.project-info p{

color:#666;

margin-bottom:15px;

}



.project-info span{

font-size:14px;

font-weight:bold;

}





/* TECNOLOGIAS */


.tech{

display:flex;

flex-wrap:wrap;

gap:15px;

}



.tech div{

border:1px solid #ddd;

padding:15px 25px;

border-radius:30px;

font-weight:bold;

}




/* CONTATO */


.contact{

background:#111;

color:white;

padding:80px 8%;

text-align:center;

}



.contact h2{

font-size:45px;

margin-bottom:20px;

}



.contact p{

color:#ccc;

margin-bottom:30px;

}



.contact a{

display:inline-block;

background:white;

color:#111;

padding:15px 30px;

border-radius:10px;

text-decoration:none;

font-weight:bold;

}





/* FOOTER */


footer{

padding:30px;

text-align:center;

color:#777;

border-top:1px solid #eee;

}




/* CELULAR */


@media(max-width:768px){


nav{

display:none;

}


.menu{

display:block;

}



.hero h1{

font-size:42px;

}



.hero p{

font-size:17px;

}


.buttons{

flex-direction:column;

}


.section h2{

font-size:35px;

}

}
